<!DOCTYPE html>
<title>Диплом</title>

<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="./css/index.css"/>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" async src="./script/index.js"></script>
<script type="text/javascript" async src="./script/cryptoJS.js"></script>


<body>
<div id="state-unauthorized" class="content">
    <div id="state_token-generated" class="generate-token">
        <h1 class="h3 mb-3 font-weight-normal">Если у Вас его нет - сгенерируйте:</h1>
        <form id="form-generate-token" class="form-login">
            <input type="text" class="form-control" placeholder="login" name="login">
            <input type="password" class="form-control" placeholder="password" name="password">
            <div id="login_err" class="login-form__error-message" style="display: none">Неверный логин или пароль!</div>
            <button type="submit" class="btn btn-primary btn-lg">Сгенерировать токен</button>
        </form>
    </div>
    <div id="state_token-not-generated" class="log-in">
        <h1 class="h3 mb-3 font-weight-normal">Для входа в систему введите токен:</h1>
        <form id="form-log-in" class="form-login">
            <input type="text" class="form-control" placeholder="token" name="token" autofocus>
            <div id="token_err" class="login-form__error-message" style="display: none">Неверный токен!</div>
            <button type="submit" class="btn btn-primary btn-lg">Войти</button>
        </form>
    </div>
</div>
<div id="state-authorized" class="content">
    <div class="killer-feature">
        <h1 class="h3 mb-3 font-weight-normal">Скачивание и загрузка файлов</h1>
        <form id="form-upload" class="form-login" method="post" enctype="multipart/form-data">
            <div class="form-login">
                <input type="file" class="form-control-file" id="input-upload">
                <button type="submit" class="btn btn-primary btn-lg">Загрузить</button>
            </div>
        </form>
        <form id="form-download" class="form-login">
            <div class="form-login">
                <input type="text" class="form-control" placeholder="filename" name="filename">
                <button type="submit" class="btn btn-primary btn-lg">Скачать</button>
            </div>
        </form>
        <form id="form-log-out" class="form-log-out">
            <button type="submit" class="btn log-out">Выйти из системы</button>
        </form>
    </div>
</div>
</body>
